<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Match Page</title>
</head>
<body>
<section class="container mt-4 margin-auto">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">My Match</a>
        </li>

    </ul>
    <picture>
        {{if .Avatar}}
            <img src="/assets/uploadImage/{{.Avatar}}" alt="User Avatar" width="80">
        {{else}}
            <img src="/assets/uploadImage/generic-user.gif" alt="User Avatar" width="80">
        {{end}}
    </picture>


    <div class="card" style="width: 18rem;">


        <ul class="list-group list-group-flush">
            {{ if .Name}}
                <li class="list-group-item">Name: {{ .Name }}</li>
            {{ end }}

            {{ if .Email}}
                <li class="list-group-item">Email: {{ .Email }}</li>
            {{ end }}

            {{ if .Age}}
                <li class="list-group-item">Age: {{ .Age }} years</li>
            {{ end }}

            {{ range .Hobbies }}
                <li class="list-group-item">Hobby: {{ .Name }}</li>
            {{ end }}
        </ul>

    </div>
</section>
</body>
</html>